@font-face {
  font-family: "Jost";
  src: url(/src/styles/fonts/Jost/Jost-Light.ttf);
}
@font-face {
  font-family: "Jost-medium";
  src: url(/src/styles/fonts/Jost/static/Jost-Medium.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(/src/styles/fonts/Montserrat/Montserrat-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Jost", "Montserrat";
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  top: 0 !important;
  background: url(/src/assets/images/background_black-desk.jpg) fixed;
  overflow-x: hidden;
}

#google_translate_element {
  display: none;
}

.skiptranslate {
  display: none;
}

section {
  padding: 60px;
}

footer {
  padding: 30px;
}

section:not(#home-page),
footer {
  background: rgba(0, 0, 0, 0.7490196078);
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h2,
h3,
h4 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px 1px 2px rgba(0, 0, 0, 0.8), 1px -1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6,
p {
  font-size: 1rem;
}

hr {
  height: 1px;
  opacity: 0;
}

.btn {
  cursor: pointer;
  background: linear-gradient(135deg, rgba(160, 10, 37, 0.695), rgba(160, 10, 37, 0.364));
  border: 1px solid rgba(163, 21, 47, 0.422);
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background: none;
  border: 1px solid rgb(163, 21, 47);
}

.section-title {
  position: relative;
}

.section-title::after {
  content: "";
  color: white;
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 4px;
  width: 100%;
  background: #BB0E2E;
  border-radius: 4px;
}

@media (max-width: 926px) {
  section {
    padding: 60px 0;
  }
  .section-title::after {
    content: "";
    color: white;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 60%;
    background: #BB0E2E;
    border-radius: 4px;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  .section-title {
    text-align: center;
  }
}
@media (max-width: 600px) {
  section,
  footer {
    padding: 30px 0;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}
@keyframes flagUnderlineAnimation {
  from {
    width: 0;
  }
  to {
    opacity: 100%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px 0px 60px;
}
header .flags-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
header .flags-container .flag-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
header .flags-container .flag-container .flag {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.1s;
}
header .flags-container .flag-container .flag:hover {
  transform: scale(1.1);
}
header .flags-container .flag-container.current-language::after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, red, rgb(244, 133, 133));
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  animation: flagUnderlineAnimation 0.2s ease-out;
}
header nav .hamburger {
  display: none;
}
header nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  transition: 0;
}
header nav ul .nav-link {
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px 1px 2px rgba(0, 0, 0, 0.8), 1px -1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8);
}
header nav ul .nav-link font {
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px 1px 2px rgba(0, 0, 0, 0.8), 1px -1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8);
}
header nav ul .nav-link:hover {
  color: #ed2c4f;
  text-shadow: 1px 1px 2px #000;
}
header nav ul .nav-link:hover font:hover {
  color: #ed2c4f;
  text-shadow: 1px 1px 2px #000;
}

@media (max-width: 926px) {
  header .flags-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
  }
  header nav .hamburger {
    display: block;
    font-size: 0;
  }
  header nav ul {
    opacity: 0;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 60px;
    top: 120px;
  }
  header nav ul.open {
    opacity: 1;
    position: fixed;
    padding: 60px;
    background: rgba(0, 0, 0, 0.754);
    border-radius: 6px;
  }
}
@media (max-width: 600px) {
  header {
    padding: 30px;
  }
  header .flags-container {
    gap: 30px;
  }
  header nav .hamburger {
    display: block;
  }
  header nav ul {
    right: 60px;
    top: 90px;
  }
  header nav ul .nav-link {
    font-size: 1rem;
  }
  header nav ul.open {
    padding: 30px;
  }
}
@keyframes blinkingCursorAnimation {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
section#home-page {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section#home-page .titles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section#home-page .titles-container h2 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  color: #BB0E2E;
}
section#home-page .titles-container h2::after {
  content: "";
  color: white;
  position: absolute;
  top: 0;
  right: -6px;
  height: 100%;
  width: 4px;
  background: #BB0E2E;
  border-radius: 4px;
  animation: blinkingCursorAnimation 0.5s ease-in-out infinite;
}

@media (max-width: 926px) {
  section#home-page {
    height: calc(100vh - 120px);
    padding-left: 60px;
  }
  section#home-page .titles-container h2 {
    height: 2.25rem;
  }
}
@media (max-width: 600px) {
  section#home-page {
    height: calc(100vh - 120px);
    padding-left: 30px;
  }
  section#home-page .titles-container h2 {
    height: 1.5rem;
  }
}
@media screen and (max-width: 360px) {
  section#home-page {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
section#projects .app-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 60px 0 60px 0;
  width: 100%;
}
section#projects .app-cards-container .app-card {
  position: relative;
  width: 360px;
}
section#projects .app-cards-container .app-card .app-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #E4E4E4;
  cursor: alias;
  transition: 0.6s;
}
section#projects .app-cards-container .app-card .app-img-container .app-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.3s;
}
section#projects .app-cards-container .app-card .app-img-container:hover .app-img {
  width: 95%;
  height: 95%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.6s ease-out;
}
section#projects .app-cards-container .app-card .app-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #E4E4E4;
}
section#projects .app-cards-container .app-card .app-details-container .app-hidden-details-container {
  z-index: -1;
  opacity: 0;
  transform: translateY(100%);
  position: absolute;
  top: -251px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 250px;
  width: 100%;
  padding: 12px;
  background: rgba(0, 0, 0, 0.9098039216);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.3s ease-out;
}
section#projects .app-cards-container .app-card .app-details-container .app-hidden-details-container p {
  color: white;
  text-shadow: none;
  font-weight: bold;
}
section#projects .app-cards-container .app-card .app-details-container .app-hidden-details-container.visible {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
}
section#projects .app-cards-container .app-card .app-details-container i {
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  transition: 0.3s linear;
}
section#projects .app-cards-container .app-card .app-details-container i.rotated {
  transform: rotate(180deg);
}
section#projects .app-cards-container .app-card .app-details-container .app-details-title-and-github-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
section#projects .app-cards-container .app-card .app-details-container .app-details-title-and-github-container .app-details-title {
  font-size: 1.4rem;
  font-family: "Trebuchet MS";
  color: black;
  font-weight: bold;
  text-shadow: none;
}
section#projects .app-cards-container .app-card .app-details-container .app-details-title-and-github-container .app-details-title font {
  color: black;
  text-shadow: none;
}
section#projects .app-cards-container .app-card .app-details-container .app-details-title-and-github-container .app-details-github-container {
  width: 30px;
  transition: 0.1s;
}
section#projects .app-cards-container .app-card .app-details-container .app-details-title-and-github-container .app-details-github-container .app-details-github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: alias;
}
section#projects .app-cards-container .app-card .app-details-container .app-details-title-and-github-container .app-details-github-container .app-details-github-link .app-details-github-img {
  width: 100%;
}
section#projects .app-cards-container .app-card .app-details-container .app-details-title-and-github-container .app-details-github-container:hover {
  transform: scale(1.1);
}
section#projects .app-cards-container .app-card .app-details-container .app-details-paragraph-container p {
  color: black;
  text-shadow: none;
  font-weight: bold;
}
section#projects .app-cards-container .app-card .app-details-container .app-details-paragraph-container p font {
  color: black;
  text-shadow: none;
}
section#projects .app-cards-container .app-card .app-details-container .app-details-logos-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
section#projects .app-cards-container .app-card .app-details-container .app-details-logos-container .app-details-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 926px) {
  section#projects .app-cards-container {
    gap: 30px;
  }
  section#projects .app-cards-container .app-card {
    transform: scale(0.9);
  }
}
@media (max-width: 600px) {
  section#projects .app-cards-container {
    gap: 0;
    padding: 0;
  }
  section#projects .app-cards-container .app-card {
    transform: scale(0.8);
  }
}
section#tools .tools-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 60px;
}
section#tools .tools-container .specific-tools-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
}
section#tools .tools-container .specific-tools-container .tools-title-container {
  position: relative;
  text-align: center;
}
section#tools .tools-container .specific-tools-container .tools-title-container::after {
  content: "";
  color: white;
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 4px;
  width: 100%;
  background: #BB0E2E;
  border-radius: 4px;
}
section#tools .tools-container .specific-tools-container .tools-logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 60px;
  padding: 0 30px 0 30px;
}
section#tools .tools-container .specific-tools-container .tools-logos-container .tools-logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#tools .tools-container .specific-tools-container .tools-logos-container .tools-logo-container .tools-logo-name {
  user-select: none;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1rem;
  background: black;
  border: 1px solid #BB0E2E;
  border-radius: 10px;
  transition: 0.3s;
}
section#tools .tools-container .specific-tools-container .tools-logos-container .tools-logo-container .tools-logo {
  width: 80px;
}
section#tools .tools-container .specific-tools-container .tools-logos-container .tools-logo-container:hover .tools-logo-name {
  opacity: 1;
  width: 120px;
  padding: 12px;
}

@media (max-width: 926px) {
  section#tools .tools-container .specific-tools-container .tools-logos-container {
    column-gap: 70px;
    row-gap: 70px;
    padding: 0 30px 0 30px;
  }
  section#tools .tools-container .specific-tools-container .tools-logos-container .tools-logo-container .tools-logo {
    width: 70px;
  }
  section#tools .tools-container .specific-tools-container .tools-logos-container .tools-logo-container:hover .tools-logo-name {
    opacity: 1;
    width: 90px;
    padding: 12px;
  }
}
@media (max-width: 600px) {
  section#tools .tools-container {
    margin-top: 30px;
    gap: 30px;
  }
  section#tools .tools-container .specific-tools-container {
    row-gap: 30px;
    width: 100%;
  }
  section#tools .tools-container .specific-tools-container .tools-logos-container {
    column-gap: 30px;
    row-gap: 30px;
  }
  section#tools .tools-container .specific-tools-container .tools-logos-container .tools-logo-container .tools-logo {
    width: 50px;
  }
  section#tools .tools-container .specific-tools-container .tools-logos-container .tools-logo-container:hover .tools-logo-name {
    width: 90px;
    font-size: 0.8rem;
  }
}
section#profile .section-title-container {
  margin-bottom: 60px;
}
section#profile .profile-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 60px;
}
section#profile .profile-container .profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 310px;
}
section#profile .profile-container .profile-picture-container img {
  border-radius: 10px;
  width: 260px;
  height: 310px;
}
section#profile .profile-container .profile-bio_and_cv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}
section#profile .profile-container .profile-bio_and_cv-container .profile-bio-container p {
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
}
section#profile .profile-container .profile-bio_and_cv-container .profile-bio-container p:last-child {
  padding: 0;
}
section#profile .profile-container .profile-bio_and_cv-container .profile-cv-container .btn-cv {
  height: 40px;
  width: 100px;
}

@media (max-width: 926px) {
  section#profile .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0 30px 0 30px;
  }
  section#profile .profile-container .profile-picture-container {
    width: 220px;
    height: 260px;
  }
  section#profile .profile-container .profile-picture-container img {
    width: 220px;
    height: 260px;
  }
  section#profile .profile-container .profile-bio_and_cv-container {
    align-items: center;
    gap: 60px;
  }
  section#profile .profile-container .profile-bio_and_cv-container .profile-cv-container {
    text-align: center;
  }
}
@media (max-width: 600px) {
  section#profile .section-title-container {
    margin-bottom: 30px;
  }
  section#profile .profile-container {
    gap: 30px;
  }
  section#profile .profile-container .profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 200px;
  }
  section#profile .profile-container .profile-picture-container img {
    width: 160px;
    height: 200px;
  }
  section#profile .profile-container .profile-bio_and_cv-container {
    padding: 0;
    gap: 30px;
  }
  section#profile .profile-container .profile-bio_and_cv-container .profile-bio-container {
    padding-top: 1rem;
  }
  section#profile .profile-container .profile-bio_and_cv-container .profile-bio-container p {
    font-size: 1rem;
  }
}
section#contact .contact-container {
  margin-top: 60px;
}
section#contact .contact-container .btn-contact {
  height: 50px;
  width: 240px;
}

@media (max-width: 926px) {
  .contact-container {
    text-align: center;
  }
}
@media (max-width: 600px) {
  section#contact .contact-container {
    margin-top: 30px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
footer .footer-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
footer .footer-links-container .footer-link-container {
  width: 40px;
}
footer .footer-links-container .footer-link-container .footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-links-container .footer-link-container .footer-link .footer-link-img {
  width: 100%;
}
footer .footer-links-container .footer-link-container .footer-link .footer-link-img:hover {
  transform: scale(1.1);
}
@media (max-width: 600px) {
  footer .footer-links-container {
    gap: 35px;
  }
  footer .footer-links-container .footer-link-container {
    width: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
