@keyframes flagUnderlineAnimation {
    from {
      width: 0;
    }
    to {
      opacity: 100%;
    }
  }
  
header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:30px 60px 30px 60px;

    .flags-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;

        .flag-container {
            position:relative;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;

            .flag {
                width: 100%;
                height: 100%;
                cursor: pointer;
                transition: 0.1s;
            }

            .flag:hover {
                transform: scale(1.1);
            }
        }
    
        .flag-container.current-language::after{
            position: absolute;
            content: "";
            background: linear-gradient(90deg, red, rgb(244, 133, 133));
            width: 100%;
            height: 3px;
            bottom: -4px;
            left: 0;

            animation: flagUnderlineAnimation 0.2s ease-out;
        }
    }

    nav {
        .hamburger {
            display: none;

        }
        ul {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;

            transition: 0;

            .nav-link {
                font-size: 1.4rem;
                font-weight: 600;
                text-shadow: $thick-text-shadow;

            }
            .nav-link:hover {
                color: $light-red-color;
                // color: $dark-red-color;
                text-shadow: 1px 1px 2px $black-color;
            }
        }
    }
}

@include breakpoint(medium) {

    header {
        .flags-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 60px;
        }

        nav {
            .hamburger {
                display: block;
                font-size: 0;
            }
            ul {

                opacity: 0;

                position: absolute;

                flex-direction: column;
                justify-content: center;
                align-items: center;

                right: 60px;
                top: 90px;

                .nav-link {
                    // font-size: 1.2rem;
                }
            }

            ul.open {

                opacity: 1;

                position: fixed;

                padding: 60px;
                background: rgba(0, 0, 0, 0.754);
                border-radius: 6px;
            }
        }
    }
}

@include breakpoint(small) {
    header {
        padding:30px;

        .flags-container {
            gap: 30px;
        }
        nav {
            .hamburger {
                display: block;
            }
            ul {
                right: 60px;
                top: 90px;
                .nav-link {
                    font-size: 1rem;
                }
            }
            ul.open {
                padding: 30px;
            }
        }
    }
}