@keyframes blinkingCursorAnimation {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

section#home-page {
  height: calc(100vh - 180px);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .titles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {

      display: flex;
      justify-content: flex-start;
      align-items: center;

      position: relative;

      color: $dark-red-color;

      // Blinking cursor anim
      span {
        position: absolute;
        right: -10px;
        height: 80%;
        width: 6px;
        background: $dark-red-color;
        border-radius:2px;
        animation: blinkingCursorAnimation 0.5s ease-in-out infinite;
        // border: 1px solid black;
      }
    }
  }
}


// ::after {
//   color: var(--wheat);
//   content: "";
//   position: absolute;
//   height: 100%;
//   width: 4px;
//   background: var(--bordeaux);
//   border-radius: 4px;
//   bottom: 0%;
//   right: -4px;
//   animation: blinkingCursorAnimation 0.5s ease-in-out infinite;
// }

// // Blinking cursor anim
// #blinking-cursor{
//     height: 12px;
//     width: 6px;
//     background:$light-red-color;

// }

@include breakpoint(small) {
  section#homePage {
    height: calc(100vh - 120px);
  }
}