section#profile {
    .section-title-container {
        margin-bottom: 60px;

    }
    .profile-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 60px;

        .profile-picture-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 260px;
            height: 310px;

            img {
                border-radius: 10px;
                width: 260px;
                height: 310px;
            }
        }
        .profile-bio_and_cv-container {
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:flex-start;

            gap: 1.25rem;
            
            .profile-bio-container {
                p {
                    font-size: 1.25rem;
                    padding-bottom: 1.25rem;
                }
                p:last-child{
                    padding:0;
                }
            }

            .profile-cv_and_github-container {
                display:flex;
                justify-content:center;
                align-items:center;
                
                gap: 30px;

                .btn-cv {
                    height: 40px;
                    width: 100px;
                }
                .profile-github-link{
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    transition: 0.1s;
                }
                .profile-github-link:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

@include breakpoint(medium) {
    section#profile {
        .profile-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 60px;
            margin:0 30px 0 30px;

            .profile-picture-container {
                width: 220px;
                height: 260px;

                img {
                    width: 220px;
                    height: 260px;
                }
            }
            .profile-bio_and_cv-container {
                align-items: center;
                gap: 60px;
                .profile-cv_and_github-container {
                    text-align:center;
                }
            }
        }
    }
}

@include breakpoint(small) {
    section#profile {
        .section-title-container {
            margin-bottom: 30px;

        }
        .profile-container {
            gap: 30px;

            .profile-picture-container {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 160px;
                height: 200px;

                img {
                    width: 160px;
                    height: 200px;
                }
            }
            .profile-bio_and_cv-container {
                padding: 0;
                gap: 30px;
                .profile-bio-container {
                    padding-top: 1rem;

                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}