@import '../utils/mixins';
@import '../utils/variables';

@font-face {
    font-family: 'Jost';
    src: url(/src/styles/fonts/Jost/Jost-Light.ttf);
}

@font-face {
    font-family: 'Jost-medium';
    src: url(/src/styles/fonts/Jost/static/Jost-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(/src/styles/fonts/Montserrat/Montserrat-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    color: $white-color;
    text-shadow: 1px 1px 2px $black-color;
    font-family: 'Jost', 'Montserrat';
    box-sizing: border-box;
    // border: 1px solid red;
    color: white;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background:url(/src/assets/images/background_black-desk.jpg) fixed;
    overflow-x: hidden;
    // border: 2px solid orange;
}

#root{
    margin-left:60px;
    margin-right:60px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1,h2,h3,h4{
    text-shadow: $thick-text-shadow;;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}


@include breakpoint(medium) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.875rem;
    }
}

@include breakpoint(small) {

    #root{
        margin-left:30px;
        margin-right:30px;
    }

    h1{
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}


