@import '../utils/mixins';
@import '../utils/variables';

@font-face {
    font-family: 'Jost';
    src: url(/src/styles/fonts/Jost/Jost-Light.ttf);
}

@font-face {
    font-family: 'Jost-medium';
    src: url(/src/styles/fonts/Jost/static/Jost-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(/src/styles/fonts/Montserrat/Montserrat-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    color: $white-color;
    text-shadow: 1px 1px 2px $black-color;
    font-family: 'Jost', 'Montserrat';
    box-sizing: border-box;
    // border: 1px solid red;
    color: white;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background: url(/src/assets/images/background_black-desk.jpg) fixed;
    overflow-x: hidden;
}

#root {
    // margin-left:60px;
    // margin-right:60px;
}

section {
    padding: 60px;
}

footer {
    padding: 30px;
}

section:not(#home-page),
footer {
    background: #000000bf;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1,
h2,
h3,
h4 {
    text-shadow: $thick-text-shadow;
    ;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6,
p {
    font-size: 1rem;
}

hr {
    height: 1px;
    opacity: 0;
}

.btn {
    cursor: pointer;
    background: linear-gradient(135deg, rgba(160, 10, 37, .695), rgba(160, 10, 37, .364));
    border: 1px solid rgba(163, 21, 47, .422);
    border-radius: 4px;
    transition: 0.3s;
}

.btn:hover {
    background: none;
    border: 1px solid rgb(163, 21, 47);
}

.section-title {
    position: relative;
}

.section-title::after {
    content: "";
    color: white;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 4px;
    width: 100%;
    background: $dark-red-color;
    border-radius: 4px;
}

@include breakpoint(medium) {

    section {
        padding: 60px 0;
    }

    .section-title::after {
        content: "";
        color: white;
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 60%;
        background: $dark-red-color;
        border-radius: 4px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.875rem;
    }

    // h4{
    //     font-size: 2rem;
    // }

    // h5{
    //     font-size: 1.5rem;
    // }
    // h6,p{
    //     font-size: 1rem;
    // }

    .section-title {
        text-align: center;
    }
}

@include breakpoint(small) {

    section,
    footer {
        padding: 30px 0;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    // h4{
    //     font-size: 2rem;
    // }

    // h5{
    //     font-size: 1.5rem;
    // }

    // h6,p{
    //     font-size: 1rem;
    // }
}