$dark-red_color: #BB0E2E;
$light-red-color: #ed2c4f;
$white-color: #fff;
$black-color: #000;

$thick-text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.8),
    -1px 1px 2px rgba(0, 0, 0, 0.8),
    1px -1px 2px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.8);